<form id= "birthay-addition" (ngSubmit) = "onSubmit()" class="w-25 p-3">
    <div class="mb-3">
      <label for="personName" class="form-label">Name: </label>
      <input type="text" class="form-control" id="personName" name="personName" [(ngModel)]="personName">
    </div>
    <div class="mb-3">
      <label for="dob" class="form-label">Date of Birth: </label>
      <input type="date" class="form-control" id="personDob"  name="personDob" [(ngModel)]="personDob">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
