<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          About or Home
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Ola!! This About or Home page of birthday manager.
          <br>
          <img src="../../../assets/icon.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="accordion-item">
  </div>